doctype html
html(lang="ru")
    head
        title Студенческий союз МИРЭА
        meta(charset="UTF-8")
        meta(content='width=device-width, initial-scale=1, maximum-scale=1', name='viewport')
        //-
            meta(name='description',
            content="")
            meta(name='keywords',
            content="")
            link(rel='author',
            href='https://github.com/mireadev')
            <!-- Fow social parsing -->
            meta(property="og:type",
            content="website")
            meta(property="og:title",
            content="")
            meta(property="og:site_name",
            content="")
            meta(property="og:url",
            content="")
            meta(property="og:description",
            content="")
            meta(property="og:image",
            content="")
            meta(property="og:image:secure_url",
            content="")
            meta(property="og:image:type",
            content="image/png")
            meta(property="og:image:width",
            content="1200")
            meta(property="og:image:height",
            content="630")
            <!-- Favicons -->
        link(rel="shortcut icon", href="favicon.ico")
        link(rel="icon", sizes="16x16 32x32", href="favicon.ico")
        link(rel="apple-touch-icon-precomposed", href="img/favicon/152.png")
        <!-- Styles -->
        link(rel='stylesheet', href='assets/css/normalize.css')
        link(rel='stylesheet', href='assets/css/flexboxgrid.min.css')
        link(rel='stylesheet', href='assets/css/flexboxgrid-helpers.min.css')
        link(rel='stylesheet', href='assets/css/jquery.fullPage.css')
        link(rel='stylesheet', href='assets/css/style.min.css')
        <!-- Scripts -->
        script(type='text/javascript' src='assets/js/jquery.min.js')
        script(type='text/javascript' src='assets/js/jquery.fullPage.js')
        script(type='text/javascript' src='assets/js/js.min.js')